*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    padding: 10px 20px;
    margin-top: 10px;
    background: transparent;
    color: white;
    border-style: solid;
    border-color: #600f24;
}

button:hover{
    cursor: pointer;
    background-color: #600f24;
    transition: 0.5s ease-in;
}