* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  position: fixed;
  width: 100%;
  background: transparent;
}

.logo{
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.logo a{
  transition: 0.5s ease;
}

.logo a:hover {
  color: gray;
}

.menu {
  list-style: none;
  display: flex;
  letter-spacing: 3px;
  gap: 3.5em;
}

.nav-link {
  transition: 0.5s ease;
}

.nav-link:hover {
  color: gray;
}
